<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>filters</key>
    <array>

      <dict>
        <key>filterName</key>
        <string>CIColorControls</string>
        <key>viewControllerName</key>
        <string>FilterViewController</string>
        <key>parameters</key>
        <array>
          <dict>
            <key>parameterName</key>
            <string>inputSaturation</string>
            <key>cellClassName</key>
            <string>SliderCell</string>
            <key>labelName</key>
            <string>Saturation</string>
            <key>default</key>
            <real>1.0</real>
            <key>min</key>
            <real>0.0</real>
            <key>max</key>
            <real>2.0</real>
          </dict>
          <dict>
            <key>parameterName</key>
            <string>inputBrightness</string>
            <key>cellClassName</key>
            <string>SliderCell</string>
            <key>labelName</key>
            <string>Brightness</string>
            <key>default</key>
            <real>0.0</real>
            <key>min</key>
            <real>-1.0</real>
            <key>max</key>
            <real>1.0</real>
          </dict>
          <dict>
            <key>parameterName</key>
            <string>inputContrast</string>
            <key>cellClassName</key>
            <string>SliderCell</string>
            <key>labelName</key>
            <string>Contrast</string>
            <key>default</key>
            <real>1.0</real>
            <key>min</key>
            <real>0.0</real>
            <key>max</key>
            <real>4.0</real>
          </dict>
        </array>
      </dict>

      <dict>
        <key>filterName</key>
        <string>CIVignette</string>
        <key>viewControllerName</key>
        <string>FilterViewController</string>
        <key>parameters</key>
        <array>
          <dict>
            <key>parameterName</key>
            <string>inputIntensity</string>
            <key>cellClassName</key>
            <string>SliderCell</string>
            <key>labelName</key>
            <string>Intensity</string>
            <key>default</key>
            <real>0.0</real>
            <key>min</key>
            <real>-1.0</real>
            <key>max</key>
            <real>1.0</real>
          </dict>
          <dict>
            <key>parameterName</key>
            <string>inputRadius</string>
            <key>cellClassName</key>
            <string>SliderCell</string>
            <key>labelName</key>
            <string>Radius</string>
            <key>default</key>
            <real>1.0</real>
            <key>min</key>
            <real>0.0</real>
            <key>max</key>
            <real>2.0</real>
          </dict>
        </array>
      </dict>

      <dict>
        <key>filterName</key>
        <string>CIHueAdjust</string>
        <key>viewControllerName</key>
        <string>FilterViewController</string>
        <key>parameters</key>
        <array>
          <dict>
            <key>parameterName</key>
            <string>inputAngle</string>
            <key>cellClassName</key>
            <string>SliderCell</string>
            <key>labelName</key>
            <string>Angle</string>
            <key>default</key>
            <real>0.0</real>
            <key>min</key>
            <real>-3.141592653589793</real>
            <key>max</key>
            <real>3.141592653589793</real>
          </dict>
        </array>
      </dict>

      <dict>
        <key>filterName</key>
        <string>CISepiaTone</string>
        <key>viewControllerName</key>
        <string>FilterViewController</string>
        <key>parameters</key>
        <array>
          <dict>
            <key>parameterName</key>
            <string>inputIntensity</string>
            <key>cellClassName</key>
            <string>SliderCell</string>
            <key>labelName</key>
            <string>Intensity</string>
            <key>default</key>
            <real>1.0</real>
            <key>min</key>
            <real>0.0</real>
            <key>max</key>
            <real>1.0</real>
          </dict>
        </array>
      </dict>

      <dict>
        <key>filterName</key>
        <string>CIHighlightShadowAdjust</string>
        <key>viewControllerName</key>
        <string>FilterViewController</string>
        <key>parameters</key>
        <array>
          <dict>
            <key>parameterName</key>
            <string>inputHighlightAmount</string>
            <key>cellClassName</key>
            <string>SliderCell</string>
            <key>labelName</key>
            <string>HighlightAmount</string>
            <key>default</key>
            <real>1.0</real>
            <key>min</key>
            <real>0.3</real>
            <key>max</key>
            <real>1.0</real>
          </dict>
          <dict>
            <key>parameterName</key>
            <string>inputShadowAmount</string>
            <key>cellClassName</key>
            <string>SliderCell</string>
            <key>labelName</key>
            <string>ShadowAmount</string>
            <key>default</key>
            <real>0.0</real>
            <key>min</key>
            <real>-1.0</real>
            <key>max</key>
            <real>1.0</real>
          </dict>
        </array>
      </dict>

      <dict>
        <key>filterName</key>
        <string>CIGammaAdjust</string>
        <key>viewControllerName</key>
        <string>FilterViewController</string>
        <key>parameters</key>
        <array>
          <dict>
            <key>parameterName</key>
            <string>inputPower</string>
            <key>cellClassName</key>
            <string>SliderCell</string>
            <key>labelName</key>
            <string>Power</string>
            <key>default</key>
            <real>1.0</real>
            <key>min</key>
            <real>0.25</real>
            <key>max</key>
            <real>4.0</real>
          </dict>
        </array>
      </dict>

      <dict>
        <key>filterName</key>
        <string>CIVibrance</string>
        <key>viewControllerName</key>
        <string>FilterViewController</string>
        <key>parameters</key>
        <array>
          <dict>
            <key>parameterName</key>
            <string>inputAmount</string>
            <key>cellClassName</key>
            <string>SliderCell</string>
            <key>labelName</key>
            <string>Amount</string>
            <key>default</key>
            <real>0.0</real>
            <key>min</key>
            <real>-1.0</real>
            <key>max</key>
            <real>1.0</real>
          </dict>
        </array>
      </dict>

      <dict>
        <key>filterName</key>
        <string>CIToneCurve</string>
        <key>viewControllerName</key>
        <string>FilterViewController</string>
        <key>parameters</key>
        <array>
          <dict>
            <key>parameterName</key>
            <string>inputPoint0x</string>
            <key>cellClassName</key>
            <string>SliderCell</string>
            <key>labelName</key>
            <string>point0-x</string>
            <key>default</key>
            <real>0.0</real>
            <key>min</key>
            <real>0.0</real>
            <key>max</key>
            <real>1.0</real>
          </dict>
          <dict>
            <key>parameterName</key>
            <string>inputPoint0y</string>
            <key>cellClassName</key>
            <string>SliderCell</string>
            <key>labelName</key>
            <string>point0-y</string>
            <key>default</key>
            <real>0.0</real>
            <key>min</key>
            <real>0.0</real>
            <key>max</key>
            <real>1.0</real>
          </dict>
          <dict>
            <key>parameterName</key>
            <string>inputPoint1x</string>
            <key>cellClassName</key>
            <string>SliderCell</string>
            <key>labelName</key>
            <string>point1-x</string>
            <key>default</key>
            <real>0.25</real>
            <key>min</key>
            <real>0.0</real>
            <key>max</key>
            <real>1.0</real>
          </dict>
          <dict>
            <key>parameterName</key>
            <string>inputPoint1y</string>
            <key>cellClassName</key>
            <string>SliderCell</string>
            <key>labelName</key>
            <string>point1-y</string>
            <key>default</key>
            <real>0.25</real>
            <key>min</key>
            <real>0.0</real>
            <key>max</key>
            <real>1.0</real>
          </dict>
          <dict>
            <key>parameterName</key>
            <string>inputPoint2x</string>
            <key>cellClassName</key>
            <string>SliderCell</string>
            <key>labelName</key>
            <string>point2-x</string>
            <key>default</key>
            <real>0.5</real>
            <key>min</key>
            <real>0.0</real>
            <key>max</key>
            <real>1.0</real>
          </dict>
          <dict>
            <key>parameterName</key>
            <string>inputPoint2y</string>
            <key>cellClassName</key>
            <string>SliderCell</string>
            <key>labelName</key>
            <string>point2-y</string>
            <key>default</key>
            <real>0.5</real>
            <key>min</key>
            <real>0.0</real>
            <key>max</key>
            <real>1.0</real>
          </dict>
          <dict>
            <key>parameterName</key>
            <string>inputPoint3x</string>
            <key>cellClassName</key>
            <string>SliderCell</string>
            <key>labelName</key>
            <string>point3-x</string>
            <key>default</key>
            <real>0.75</real>
            <key>min</key>
            <real>0.0</real>
            <key>max</key>
            <real>1.0</real>
          </dict>
          <dict>
            <key>parameterName</key>
            <string>inputPoint3y</string>
            <key>cellClassName</key>
            <string>SliderCell</string>
            <key>labelName</key>
            <string>point3-y</string>
            <key>default</key>
            <real>0.75</real>
            <key>min</key>
            <real>0.0</real>
            <key>max</key>
            <real>1.0</real>
          </dict>
          <dict>
            <key>parameterName</key>
            <string>inputPoint4x</string>
            <key>cellClassName</key>
            <string>SliderCell</string>
            <key>labelName</key>
            <string>point4-x</string>
            <key>default</key>
            <real>1.0</real>
            <key>min</key>
            <real>0.0</real>
            <key>max</key>
            <real>1.0</real>
          </dict>
          <dict>
            <key>parameterName</key>
            <string>inputPoint4y</string>
            <key>cellClassName</key>
            <string>SliderCell</string>
            <key>labelName</key>
            <string>point4-y</string>
            <key>default</key>
            <real>1.0</real>
            <key>min</key>
            <real>0.0</real>
            <key>max</key>
            <real>1.0</real>
          </dict>
        </array>
        <key>merges</key>
        <array>
          <dict>
            <key>outputClassName</key>
            <string>CIVector</string>
            <key>outputName</key>
            <string>inputPoint0</string>
            <key>input1</key>
            <string>inputPoint0x</string>
            <key>input2</key>
            <string>inputPoint0y</string>
          </dict>
          <dict>
            <key>outputClassName</key>
            <string>CIVector</string>
            <key>outputName</key>
            <string>inputPoint1</string>
            <key>input1</key>
            <string>inputPoint1x</string>
            <key>input2</key>
            <string>inputPoint1y</string>
          </dict>
          <dict>
            <key>outputClassName</key>
            <string>CIVector</string>
            <key>outputName</key>
            <string>inputPoint2</string>
            <key>input1</key>
            <string>inputPoint2x</string>
            <key>input2</key>
            <string>inputPoint2y</string>
          </dict>
          <dict>
            <key>outputClassName</key>
            <string>CIVector</string>
            <key>outputName</key>
            <string>inputPoint3</string>
            <key>input1</key>
            <string>inputPoint3x</string>
            <key>input2</key>
            <string>inputPoint3y</string>
          </dict>
          <dict>
            <key>outputClassName</key>
            <string>CIVector</string>
            <key>outputName</key>
            <string>inputPoint4</string>
            <key>input1</key>
            <string>inputPoint4x</string>
            <key>input2</key>
            <string>inputPoint4y</string>
          </dict>
        </array>
      </dict>

      <dict>
        <key>filterName</key>
        <string>CITemperatureAndTint</string>
        <key>viewControllerName</key>
        <string>FilterViewController</string>
        <key>parameters</key>
        <array>
          <dict>
            <key>parameterName</key>
            <string>inputNeutralx</string>
            <key>cellClassName</key>
            <string>SliderCell</string>
            <key>labelName</key>
            <string>Neutral-x</string>
            <key>default</key>
            <real>6500</real>
            <key>min</key>
            <real>0</real>
            <key>max</key>
            <real>10000</real>
          </dict>
          <dict>
            <key>parameterName</key>
            <string>inputNeutraly</string>
            <key>cellClassName</key>
            <string>SliderCell</string>
            <key>labelName</key>
            <string>Neutral-y</string>
            <key>default</key>
            <real>0</real>
            <key>min</key>
            <real>0</real>
            <key>max</key>
            <real>1000</real>
          </dict>
          <dict>
            <key>parameterName</key>
            <string>inputTargetNeutralx</string>
            <key>cellClassName</key>
            <string>SliderCell</string>
            <key>labelName</key>
            <string>TargetNeutral-x</string>
            <key>default</key>
            <real>6500</real>
            <key>min</key>
            <real>0</real>
            <key>max</key>
            <real>10000</real>
          </dict>
          <dict>
            <key>parameterName</key>
            <string>inputTargetNeutraly</string>
            <key>cellClassName</key>
            <string>SliderCell</string>
            <key>labelName</key>
            <string>TargetNeutral-y</string>
            <key>default</key>
            <real>0</real>
            <key>min</key>
            <real>0</real>
            <key>max</key>
            <real>1000</real>
          </dict>
        </array>
        <key>merges</key>
        <array>
          <dict>
            <key>outputClassName</key>
            <string>CIVector</string>
            <key>outputName</key>
            <string>inputNeutral</string>
            <key>input1</key>
            <string>inputNeutralx</string>
            <key>input2</key>
            <string>inputNeutraly</string>
          </dict>
          <dict>
            <key>outputClassName</key>
            <string>CIVector</string>
            <key>outputName</key>
            <string>inputTargetNeutral</string>
            <key>input1</key>
            <string>inputTargetNeutralx</string>
            <key>input2</key>
            <string>inputTargetNeutraly</string>
          </dict>
        </array>
      </dict>

      <dict>
        <key>filterName</key>
        <string>CIGloom</string>
        <key>viewControllerName</key>
        <string>FilterViewController</string>
        <key>parameters</key>
        <array>
          <dict>
            <key>parameterName</key>
            <string>inputIntensity</string>
            <key>cellClassName</key>
            <string>SliderCell</string>
            <key>labelName</key>
            <string>Intensity</string>
            <key>default</key>
            <real>1.0</real>
            <key>min</key>
            <real>0.0</real>
            <key>max</key>
            <real>1.0</real>
          </dict>
          <dict>
            <key>parameterName</key>
            <string>inputRadius</string>
            <key>cellClassName</key>
            <string>SliderCell</string>
            <key>labelName</key>
            <string>Radius</string>
            <key>default</key>
            <real>10.0</real>
            <key>min</key>
            <real>0.0</real>
            <key>max</key>
            <real>100.0</real>
          </dict>
        </array>
      </dict>

      <dict>
        <key>filterName</key>
        <string>CIPixellate</string>
        <key>viewControllerName</key>
        <string>FilterViewController</string>
        <key>parameters</key>
        <array>
          <dict>
            <key>parameterName</key>
            <string>inputScale</string>
            <key>cellClassName</key>
            <string>SliderCell</string>
            <key>labelName</key>
            <string>Scale</string>
            <key>default</key>
            <real>8.0</real>
            <key>min</key>
            <real>1.0</real>
            <key>max</key>
            <real>100.0</real>
          </dict>
          <dict>
            <key>parameterName</key>
            <string>inputCenterx</string>
            <key>cellClassName</key>
            <string>SliderCell</string>
            <key>labelName</key>
            <string>inputCenter-x</string>
            <key>default</key>
            <real>150</real>
            <key>min</key>
            <real>0</real>
            <key>max</key>
            <real>1000</real>
          </dict>
          <dict>
            <key>parameterName</key>
            <string>inputCentery</string>
            <key>cellClassName</key>
            <string>SliderCell</string>
            <key>labelName</key>
            <string>inputCenter-y</string>
            <key>default</key>
            <real>150</real>
            <key>min</key>
            <real>0</real>
            <key>max</key>
            <real>1000</real>
          </dict>
        </array>
        <key>merges</key>
        <array>
          <dict>
            <key>outputClassName</key>
            <string>CIVector</string>
            <key>outputName</key>
            <string>inputCenter</string>
            <key>input1</key>
            <string>inputCenterx</string>
            <key>input2</key>
            <string>inputCentery</string>
          </dict>
        </array>
      </dict>

      <dict>
        <key>filterName</key>
        <string>CIColorPosterize</string>
        <key>viewControllerName</key>
        <string>FilterViewController</string>
        <key>parameters</key>
        <array>
          <dict>
            <key>parameterName</key>
            <string>inputLevels</string>
            <key>cellClassName</key>
            <string>SliderCell</string>
            <key>labelName</key>
            <string>Levels</string>
            <key>default</key>
            <real>6.0</real>
            <key>min</key>
            <real>2.0</real>
            <key>max</key>
            <real>30.0</real>
          </dict>
        </array>
      </dict>

    </array>
  </dict>
</plist>
